<div ng-style="mainStyle" class="tg-thermometer" ng-class="size">
	<div class="draw-a"></div>
	<div class="draw-b"></div>
	<div class="meter">
		<div class="statistics" style="margin-left: 8px">
			<div class="percent percent-a"> {{maxVal}} {{unit}}</div>
			<div class="percent percent-b"> {{p75}} {{unit}}</div>
			<div class="percent percent-c"> {{p50}} {{unit}}</div>
			<div class="percent percent-d"> {{p25}} {{unit}}</div>
			<div class="percent percent-e"> {{minVal}} {{unit}}</div>
		</div>
		<div ng-style="mercuryStyle" class="mercury">
			<!-- ie style is applied only for internet explorer 10 and 11 -->
			<div class="percent-current ie">{{displayVal}} {{unit}}</div>
			<div class="mask">
				<div class="bg-color" ng-style="maskStype"></div>
			</div>
		</div>
	</div>
</div>