
.tg-thermometer {
	width: 100px;
	position: relative
}

.tg-thermometer.small .meter {
	width: 6px
}

.tg-thermometer.small .meter .mask {
	width: 6px
}

.tg-thermometer.small .meter .bg-color {
	height: calc(120px - 57px)
}

.tg-thermometer.small .draw-a {
	width: 20px
}

.tg-thermometer.small .draw-a:after {
	width: 32px;
	height: 32px;
	left: -6px;
	bottom: -10px
}

.tg-thermometer.small .draw-b:before {
	width: 6px
}

.tg-thermometer.small .draw-b:after {
	width: 14px;
	height: 14px
}

.tg-thermometer.small .percent-b, .tg-thermometer.small .percent-d {
	display: none
}

.tg-thermometer .statistics {
	position: absolute;
	left: 0;
	z-index: 1;
	font-size: 1em;
	top: 0;
	height: 100%;
	font-style: italic;
	font-weight: 500;
	text-shadow: 1px 1px #fff
}

.tg-thermometer .statistics .percent {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	text-align: right;
	position: absolute;
	width: 40px
}

.tg-thermometer .statistics .percent.percent-a {
	bottom: calc(100% - 2px)
}

.tg-thermometer .statistics .percent.percent-b {
	bottom: calc(75% - 2px)
}

.tg-thermometer .statistics .percent.percent-c {
	bottom: calc(50% - 2px)
}

.tg-thermometer .statistics .percent.percent-d {
	bottom: calc(25% - 2px)
}

.tg-thermometer .statistics .percent.percent-e {
	bottom: calc(0% - 2px)
}

.tg-thermometer .meter {
	width: 10px;
	margin: auto;
	left: 0;
	right: 0;
	height: calc(100% - 58px);
	top: 12px;
	position: absolute;
	background-color: #d6d6d6;
	border-radius: 10px 10px 0 0;
	z-index: 1
}

.tg-thermometer .meter .mercury {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f44336;
	border-radius: 10px 10px 0 0;
	background: linear-gradient(0deg, #f44336, #3f51b5);
	transition: all .5s ease-in-out;
	height: 0
}

.tg-thermometer .meter .mask {
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 10px;
	height: 100%;
	border-radius: 10px 10px 0 0
}

.tg-thermometer .meter .bg-color {
	position: absolute;
	width: 10px;
	height: calc(200px - 57px);
	background: linear-gradient(#2196F3, #8BC34A, rgba(0, 86, 145, 0.7));
	bottom: 0
}

.tg-thermometer .meter .percent-current {
	position: absolute;
	left: 0;
	top: 4px;
	transform: translateX(calc(-100% - 8px)) translateY(-50%);
	background-color: #fff;
	padding: 5px 10px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 3px 3px 6px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	font-size: 1.2em;
	color: #333
}

@media screen and (-ms-high-contrast: active) , ( -ms-high-contrast :
	none) {
	/* IE10+ CSS classes go here */

	.tg-thermometer .meter .percent-current.ie {
		margin-left: -80px;
		margin-top: -20px;
	}
}

.tg-thermometer .meter .percent-current:after {
	border-left: 8px solid white;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	position: absolute;
	right: 0;
	transform: translateX(calc(100% - 2px));
	top: 0;
	bottom: 0;
	margin: auto;
	width: 0;
	height: 0
}

.tg-thermometer .meter .percent-current:before {
	border-left: 7px solid rgba(0, 0, 0, 0.2);
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	position: absolute;
	right: 0;
	transform: translateX(calc(100% - 0px));
	top: 0;
	bottom: 0;
	margin: auto;
	width: 0;
	height: 0
}

.tg-thermometer .draw-a {
	background-color: #fff;
	height: calc(100% - 20px);
	width: 30px;
	margin: auto;
	position: relative;
	border-radius: 20px 20px 0 0;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 1px 1px 5px
		rgba(0, 0, 0, 0.2)
}

.tg-thermometer .draw-a:before {
	width: 100%;
	bottom: 0px;
	left: 0;
	position: absolute;
	height: 50px;
	background-color: #fff;
	content: "";
	z-index: 1
}

.tg-thermometer .draw-a:after {
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	background-color: #fff;
	left: -10px;
	bottom: -20px;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 1px 1px 5px
		rgba(0, 0, 0, 0.2)
}

.tg-thermometer .draw-b {
	position: absolute;
	width: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 50px;
	z-index: 1
}

.tg-thermometer .draw-b:after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px;
	background-color: rgba(0, 86, 145, 1);
	content: "";
	border-radius: 50%
}

.tg-thermometer .draw-b:before {
	position: absolute;
	left: 0;
	right: 0;
	width: 10px;
	top: 0;
	margin: auto;
	height: 20px;
	background-color: rgba(0, 86, 145, 0.9);
	content: "";
	border-radius: 10px 10px 0 0
}